/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: font7segmentos;
    src: url('../fonts/DSEG7Classic-BoldItalic.woff');
}


.ui-body-e {
    background-color:#fbef7e !important;
}
.ui-header-fixed {

    color:navy !important;
    font-family: cursive !important;
    font-size: 1.2em;
    font-weight:bold;
    letter-spacing: 3px !important; 
    /*background-color: #5f9cc5 !important;*/
    background: linear-gradient(blue,lightblue);
    background: -webkit-linear-gradient(blue,lightblue);
    -webkit-text-shadow: 0px 0px 18px yellow !important;
    text-shadow:0px 0px 18px yellow !important;
}
.ui-header-fixed a{
    background:linear-gradient(blue,lightblue); 
    padding-right: 8px;
    padding-top: 40px;
    border:0 !important;


}


.ui-content {

    margin : 0;
    padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 40px !important;  
    left : 0 !important; 
    color: black !important;
    display: inline !important; 
    background-image: url("../img/fondo_negro.jpg") !important; 
}



#idHora{

    color:cyan;
    text-align: center;
    font-family:font7segmentos;
    font-size: 5.5em;
    text-shadow: 0px 0px 20px  white !important;

}



button {
    box-shadow: 10px 10px 5px 0px rgba(102,102,102,0.65);
    border-radius: 1.0em !important;
    color : yellow !important;
    background:linear-gradient( #5f9cc5,#396b9e )  !important;
    background:-webkit-linear-gradient( #5f9cc5,#396b9e )  !important;
    text-align: center !important;
    margin: .5em .5em .5em .5em;
}

.p_alto {

    margin: 0 ;
    border-bottom: 3px dotted white;
    color:burlywood;
    font-family: cursive;
    font-weight:bold;
    letter-spacing: 3px; 
    text-align: left;
    font-size: 1.5em;
    border-bottom-width: medium;
    -webkit-text-shadow: -3px -3px 10px 10px lightblue !important;
    text-shadow:0px 0px 19px white !important;
}



.ui-footer-fixed {
    /*background: linear-gradient(blue,lightblue);
    background: -webkit-linear-gradient(blue,lightblue);*/
    background: blue !important;
    color: white !important;
    letter-spacing: 3px !important; 
    box-shadow: inset 0px 0px 18px 3px lightblue;
    -webkit-text-shadow: 0px 0px 15px blue !important;
    text-shadow:0px 0px 20px white !important;
}

.ui-footer-fixed a{
    /*background: linear-gradient(blue,lightblue);
    background: -webkit-linear-gradient(blue,lightblue);*/
    margin-left: 4px;
    border:0;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: blue !important;


}

#popupAbout{

    -webkit-box-shadow: -1px -1px 25px 10px white;
    -moz-box-shadow: -1px -1px 25px 10px white;
    -ms-box-shadow: -1px -1px 25px 10px white;
    box-shadow: -1px -1px 25px 10px white;
    opacity:0.95;
    width:10em;
}

#popupAbout,#popupAlarma a {

    box-shadow: -1px -1px 25px 7px orange;
}

#popupAbout p{
    margin: 0 ;
    font-family: cursive;
    font-weight:bold;
    color:white !important;
    text-align:center;
    text-shadow: 0px 0px 10px white ;
}

#popupAlarma{
    background-color: black;
    opacity:0.9;
    -webkit-box-shadow: -1px -1px 25px 10px white;
    -moz-box-shadow: -1px -1px 25px 10px white;
    -ms-box-shadow: -1px -1px 25px 10px white;
    box-shadow: -1px -1px 25px 10px white;
    width:10em;
}

#popupAlarma  h1 {
    background-color:black;
    margin : 0;
    text-align:center;
    font-size: 1.2em;
    color:white;
    opacity:0.9;



}
#popupAlarma .ui-input-text{

    background-color: black ;
    margin: 5px 30px 5px 30px;
}

#popupAlarma input {

    font-family:font7segmentos;
    background-color: orange !important;
    color:white;
    opacity:0.9;
    box-shadow: -1px -1px 25px 7px orange;
}



#popupAlarma a {

    margin:5% 25% 5% 25%;
    font-size: 0.7em;
    background-color: orange;
    color:white;
}

.p_bajo{
    color:burlywood;
    font-family: cursive;
    text-align: justify;
    font-size: 1em;
    font-weight:bold;
    border-left-color: red ;
    border-left-width: medium;
    text-shadow: 0px 0px 15px white;

}

#warning-message { display: none; }
@media only screen and (orientation:landscape){
    #main { display:none; }
    #warning-message { display:block; }
}
@media only screen and (orientation:portrait){
    #warning-message { display:none; }
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}



@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}
