/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
    font-family: font7segmentos;
    src: url('../fonts/DSEG7Classic-BoldItalic.woff');
}


.ui-body-e {
    background-color:#fbef7e !important;
}
.ui-header-fixed {

    color:yellow !important;
    font-family: cursive !important;
    font-size: 1.2em;
    letter-spacing: 3px !important; 
    background-color: #5f9cc5 !important;
}
.ui-header-fixed a{
  background-color: #5f9cc5 !important;  
  border:0;
  padding-right: 8px;
  padding-top: 35px;
  
}


.ui-content {

    margin : 0;
    padding: 0;
    position : absolute !important; 
    top : 40px !important;  
    right : 0; 
    bottom : 40px !important;  
    left : 0 !important; 
    color: black !important;
    display: inline !important; 
    background-image: url("../img/fondo_negro.jpg") !important; 
}



#idHora{
    
    color:darkturquoise;
    text-align: center;
    font-family:font7segmentos;
    font-size: 5.5em;
    
}



button {
    box-shadow: 10px 10px 5px 0px rgba(102,102,102,0.65);
    border-radius: 1.0em !important;
    color : yellow !important;
    background:linear-gradient( #5f9cc5,#396b9e )  !important;
    background:-webkit-linear-gradient( #5f9cc5,#396b9e )  !important;
    text-align: center !important;
    margin: .5em .5em .5em .5em;
}

 p {

    margin: 0 ;
    border-bottom: 3px dotted white;
    color:burlywood;
    font-family: cursive;
    font-weight:bold;
    letter-spacing: 3px; 
    text-align: left;
    font-size: 1.5em;
    border-bottom-width: medium;
}



.ui-footer-fixed {
    background-color: #5f9cc5 !important;
    color: white !important;
    letter-spacing: 3px !important; 
    text-shadow:2px 2px 0 #828282 !important;
}

.ui-footer-fixed a{
  background-color: #5f9cc5 !important;  
  border:0;
  padding-right: 8px;
  padding-top: 16px;
  
}

#warning-message { display: none; }
    @media only screen and (orientation:landscape){
        #main { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:portrait){
        #warning-message { display:none; }
    }


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
